<div id="header-favorites">
  <span>Your Favorite Gems</span>
</div>
<div id="favorite-gems">
  <ul id="favorites-ul"></ul>
</div>

<script type="text/javascript">
  // Gives the favoirtes tab the class "active" to add background color
  $('#favorites-tab').addClass("active");
  // Creates <li> element for every gem in localStorage, including star icon and link to gem
  for (var key in localStorage) {
    // Ensures non gem-related keys in localStorage are displayed
    if (key.substring(0, 4) == 'fav_') {
      var $gem = localStorage[key];
      var $li = `<li><%=image_tag("star-blue.png", class:"star")%><a href="https://rubygems.org/gems/${$gem}" target="_blank">${$gem}</a></li>`
      $('#favorites-ul').append($li);
    }
  }

  // Onclick event for clicking star to remove from favorites
  $('img.star').on('click', function () {
    // Storing name of the gem that the clicked star represents
    var $dep = $(this).siblings('a').text()
    localStorage.removeItem('fav_' + $dep);
    $(this).parent().remove();
  });
</script>
