<div class="header">
  <span>Search Gems</span>
</div>
<div class="searchbar">
  <!-- Form for search query of gems -->
  <%= form_tag('/', remote: true) %>
  <%= text_field_tag 'query', nil, placeholder: 'Search' %>
  <%= image_submit_tag('magnifying-glass.png', id: 'submit-button') %>
</div>
<div id="results-div">
  <span id="gem-name-span">
    <a href="#" id="gem-name" target="_blank"></a>
    <img src="" alt="">
  </span>
  <p id="gem-info-header"></p>
  <p id="gem-info"></p>
  <p id="gem-dep-header"></p>
  <ul id="gem-dep">

  </ul>
</div>
