<div class="container-fluid">
  <div class="row full_height">
    <div class="col-md-4 no_padding" id="root_image">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 logo">
          <%= image_tag('teachable-logo.png') %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <a href="#">
          <div class="col-md-4 menu-tab" id="search-tab">
            <span>Search</span>
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <a href="#">
          <div class="col-md-4 menu-tab" id="favorites-tab">
            <span>Favorites</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row header">
        <div class="col-md-8 col-md-offset-1">
          <span>Search Gems</span>
        </div>
      </div>
      <div class="row searchbar">
        <div class="col-md-8 col-md-offset-1">
          <!-- Form for search query of gems -->
          <%= form_tag('/') %>
          <%= text_field_tag 'query', nil, placeholder: 'Search' %>
          <%= image_submit_tag('magnifying-glass.png', id: 'submit-button') %>
        </div>
      </div>
    </div>
  </div>
</div>
