<div class="container-fluid">
  <div class="row full_height">
    <div class="col-md-4 no_padding" id="root_image">
      <div class="row">
        <div class="col-md-9">

        </div>
        <div class="3 logo">
          <%= image_tag('teachable-logo.png', :class => 'logo') %>
        </div>
      </div>
    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>
