#header-favorites span {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
}

#favorite-gems {
  position: absolute;
  padding: 0;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 25.18px;
      img {
        margin-right: 12px;
      }
    }
  }
}
