html {
  height: 100% !important;

  body {
    height: 100%;

    .container-fluid {
      height: 100%;

      .full_height {
        height: 100% !important;

        #root_image {
          background-image: image-url("map.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          height: 100% !important;

          .logo img{
            margin-top: 30px;
          }

          #search-tab {
            margin-top: 180px;
          }

          #favorites-tab {
            margin-top: 20px;
          }

          .menu-tab {
            color: #FFFFFF;
            font-family: Lato-Regular, serif;
            font-size: 18px;
            background-color: rgba(255, 255, 255, 0.15);
            height: 50px;

            span {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
