html {
  height: 100% !important;

  body {
    height: 100%;

    .container-fluid {
      height: 100%;

      .full_height {
        height: 100% !important;

        #root_image {
          background-image: image-url("map.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          height: 100% !important;

          .logo {
            padding-top: 30px;
          }
        }
      }
    }
  }
}
